<div id="<%= dom_id docente %>">
  <p>
    <strong>Nome:</strong>
    <%= docente.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= docente.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= docente.telefone %>
  </p>

</div>
