<h1>Editing evento sala</h1>

<%= render "form", evento_sala: @evento_sala %>

<br>

<div>
  <%= link_to "Show this evento sala", @evento_sala %> |
  <%= link_to "Back to evento salas", evento_salas_path %>
</div>
